.modal_open {
  display: flex;
  align-items: center;
  height: 68px;
  background: #6e9c9f;
  font-weight: 400;
  font-size: 17px;
  padding: 0 10px;
  line-height: 138.9%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-top: 52px;
  cursor: pointer;
}

.button_wrapper {
  display: flex;
  justify-content: center;
}
