.item {
  display: flex;
  margin-bottom: 20px;
  font-size: 14px;

  &_title {
    font-weight: bold;
    margin-right: 10px;
  }
}

.price_title {
  letter-spacing: 0.2em;
}

.input {
  outline: 0;
  border: 0;
  width: 155px;
  height: 36px;
}

@media (max-width: 875px) {
  .price {
    width: 100%;
  }

  .item {
    flex-direction: column;

    &_title {
      margin-bottom: 10px;
    }
  }

  .w-200 {
    width: 100%;
  }

  .ul {
    padding: 0px 65px;
  }
}
