.h2 {
  width: 10.5em;
  font-weight: 500;
  font-size: 55px;
  line-height: 110%;
  letter-spacing: 0.02em;
  color: #000000;
  margin-top: 100px;
  cursor: pointer;

  &_change {
    display: none;
  }
}

.h3 {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  text-align: right;
  letter-spacing: 0.02em;
  color: #000000;
  width: 26em;
  margin-top: 45px;
  display: flex;
  cursor: pointer;
}

.iterior {
  margin-left: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.button {
  width: 14.5em;
  height: 68px;
  margin-top: 10px;
  color: white;
  background: #6e9c9f;
  cursor: pointer;
}
