.wrapper {
  width: 70em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 165px;
}

.modal {
  position: relative;
  height: 80vh !important;
}

.page {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
