.wrapper {
  width: 70em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.modal_open {
  display: flex;
  align-items: center;
  height: 68px;
  background: #6e9c9f;
  font-weight: 400;
  font-size: 17px;
  padding: 0 10px;
  line-height: 138.9%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-top: 52px;
  cursor: pointer;
}

.modal {
  position: relative;
  height: 80vh !important;
}

.button_wrapper {
  display: flex;
  justify-content: center;
}

.page {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.default {
  &_wrapper {
    width: 100vw;
    height: calc(100vh - 220px);
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 19px;
  line-height: 19px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: black;
}
