.wrapper {
  margin-top: 50px;
}

.main {
  display: flex;
  margin-top: 40px;
}

.name {
  margin-left: 65px;
  font-weight: 300 !important;
}

.w-200 {
  width: 200px;
}

.delete {
  position: absolute;
}

.input {
  outline: 0;
  border: 0;
  font-size: 2em;
}

@media (max-width: 550px) {
  .main {
    flex-direction: column;
  }
}
