.wrapper {
  margin-top: 50px;
}

.main {
  display: flex;
  margin-top: 40px;
  align-items: center;
}

.name {
  font-weight: 300;

  &_block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.delete {
  position: absolute;
}

.input {
  outline: 0;
  border: 0;
  font-size: 2em;
}

.image {
  object-fit: contain;
  margin-top: 10px;
}

@media (max-width: 875px) {
  .main {
    flex-direction: column;
  }
}