.wrapper {
  width: 100vw;
  height: calc(100vh - 220px);
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.default {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 19px;
  line-height: 19px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: black;
}
