.form-file-upload {
  height: 3rem;
  width: 28rem;
  max-width: 100%;
  text-align: center;
}

.label {
  display: flex;
  flex-direction: column;
  font-size: 1.25rem;
  margin-bottom: 15px;
}

.label:not(:first-child) {
  margin-top: 40px;
}

.price {
  margin-top: 40px;
}

.characteristics {
  margin-bottom: 30px;

  &_buttons {
    display: flex;
    flex-direction: column;
  }

  &_delete {
    cursor: pointer;
    color: red;
    margin-bottom: 15px;
  }
}

.delete_img {
  color: red;
  cursor: pointer;
}

.failed {
  margin-top: 20px;
  margin-bottom: 15px;
  color: red;
}

.loading {
  margin-bottom: 15px;
}

.input-file-upload {
  display: none;
}

.label-file-upload {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-width: 2px;
  border-radius: 1rem;
  border-style: dashed;
  border-color: #cbd5e1;
  background-color: #f8fafc;
}

.label-file-upload.drag-active {
  background-color: #ffffff;
}

.block {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #f0f8ff;
  height: 10em;
  border-radius: 15px;

  &_dragover {
    border: 2px solid #6e9c9f;
  }
}

.drag-drop-text {
  opacity: 0.4;
}

.upload-button {
  cursor: pointer;
  color: cadetblue;
  padding: 0.25rem;
  font-size: 1rem;
  border: none;
  font-family: "Oswald", sans-serif;
  background-color: transparent;
}

.upload-button:hover {
  text-decoration-line: underline;
}

.drag-file-element {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;

  height: 100vh;
  margin-top: 170px;
}

.file {
  &_input {
    margin-top: 15px;
  }

  &_preview {
    width: 15em;
    height: 20em;

    &_wrapper {
      display: flex;
      justify-content: center;
      margin-top: 30px;
      margin-bottom: 15px;
    }
  }
}

.button {
  margin-bottom: 15px;

  &_delete {
    cursor: pointer;
    border-radius: 10px;
    background: #6e9c9f;
    color: white;
    padding: 9px 5px;
  }
}

.name {
  &_input {
    height: 45px;
    margin-left: 6px;
    background: #ffffff;
    border: 4px solid #6e9c9f;
    border-radius: 4px;
    font-size: 18px;
    padding-left: 8px;
    margin-top: 15px;
  }

  &_input:focus {
    border: 4px solid #6e9c9f;
    outline: none;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  }
}

.error {
  color: red;
  margin-top: 6px;
  font-size: 1rem;
}
